body{
    background-color: lavender;
}
p{
    margin: 10px auto;
    font-family: Bookman, URW Bookman L, serif;
    text-align: justify;
    text-indent: 40px;
}
h2{
    margin: 10px auto;
    color: royalblue;
    font-family: Bookman, URW Bookman L, serif;
    text-align: justify;
    text-indent: 40px;
}
h1{
    text-indent: 40px;
    font-family: FreeMono, monospace, italic;

}
.textandimg{
    display: flex;
}
.image{
    display: flex;
    weight: 350px;
    height: 300px;
}
.text{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
    justify-content: space-around;
}
.nextpage{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
}
.blank{
    width: 230px;
    /*margin-left: 1010px;*/
}
.images{
    display: flex;
    margin-left: 250px;
    margin-top: -150px;
    justify-content: space-around;
}
.secondtextandimg{

}
/*
.table-hover{
    display: flex;
    margin: auto;
}*/