<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content">
    <form th:action="@{'/add-cars'}" method="post">
        <p class="namepage">Add Cars page</p>
        <div class="inputbox2">
            <label for="name" class="form-label" style="color: floralwhite">Car :</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Bugatti" th:class="myinput" autocomplete="off" required>
        </div>
        <div class="inputbox2">
            <label for="model" class="form-label" style="color: floralwhite">Model :</label>
            <input type="text" id="model" name="model" class="form-control" th:class="myinput" autocomplete="off" required>
        </div>
        <div class="inputbox2">
            <label for="tank" class="form-label" style="color: floralwhite">Tank :</label>
            <input type="number" id="tank" name="tank" class="form-control" placeholder="6" th:class="myinput" autocomplete="off" required>
        </div>
        <br>
        <div class="selectbox">
            <label for="country" class="form-label" style="color: floralwhite">Country :</label>
            <select name="countryId" class="select-box" aria-label="Default select example" id="country" th:class="myinput">
                <option th:each="country: ${countries}" th:text="${country.getNameofcountry()}" th:value="${country.getId()}"></option>
            </select>
        </div>
        <br>
        <div class="button-pos">
            <button type="submit" class="floating-button">Press to submit</button>
            <a th:href="@{'/table-cars'}" class="floating-button">Back to tables</a>
        </div>
    </form>
</div>
</html>