<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content">
    <h2>Add Person page</h2>
    <form th:action="@{'/add-person'}" method="post">
        <div class="mb-3">
            <label for="fname" class="form-label">First name:</label><br>
            <input type="text" id="fname" name="fname" class="form-control" placeholder="John"><br>
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Last name:</label><br>
            <input type="text" id="lname" name="lname" class="form-control" placeholder="Doe"><br><br>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age:</label><br>
            <input type="number" id="age" name="age" class="form-control" placeholder="60"><br><br>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age:</label><br>
            <select name="companyId" class="form-select" aria-label="Default select example">
                <option th:each="company: ${companies}" th:text="${company.getName()}" th:value="${company.getId()}"></option>
            </select>
            <br><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>