<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content">
    <p class="namepage">Edit marketplace page</p>
    <form th:action="@{'/update-marketplace'}" method="post">
        <input type="number" name="id" hidden th:value="${marketplace.id}">
        <div class="inputbox2">
            <label for="mname">Marketplace :</label>
            <input type="text" id="mname" name="mname" th:value="${marketplace.getMarketname()}">
        </div><br>
        <div class="button-pos">
            <button type="submit" class="floating-button">Save Changes</button>
            <a th:href="@{'/delete-marketplace?marketplaceId=' + ${marketplace.id}}" class="floating-button-delete">Delete</a>
            <a th:if="${next_marketplace_id != null}" th:href="@{'/update-marketplace-pagebyid/'+ ${next_marketplace_id}}" type="submit" class="floating-button">Next marketplace</a>
        </div>
    </form>


    <br><br><br>
</div>
</html>