<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Age</th>
            <th scope="col">Company</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${people}">
            <th scope="row" th:text="${person.id}"></th>
            <td th:text="${person.firstname}"></td>
            <td th:text="${person.getLastname()}"></td>
            <td th:text="${person.getAge()}"></td>
            <td th:text="${person.getCompany().getName()}"></td>
            <td>
                <a th:href="@{'/update/' + ${person.id}}" class="btn btn-info mx-2">Update</a>

                <a th:href="@{'/delete?idshka=' + ${person.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>