<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content">
    <div class="rows">
        <div class="coll">
            <br><br><br><br><br><br>
            <p class="namepage" th:text="#{label.maint}"></p>
            <p th:text="#{label.maintext}"></p>
        </div>
        <div class="coll">
            <div class="cards">
                <div class="card">
                    <a th:href="@{'/bmw-information'}">
                    <div class="card_img1"></div>
                    </a>
                </div>
                <div class="card">
                    <a th:href="@{'/mercedes-information'}">
                    <div class="card_img2"></div>
                    </a>
                </div>
                <div class="card">
                    <a th:href="@{'/audi-information'}">
                    <div class="card_img3"></div>
                    </a>
                </div>
                <div class="card">
                    <a th:href="@{'/porsche-information'}">
                    <div class="card_img4"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>