<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content" class="row my-3">
    <h2>Login page</h2>
    <form th:action="@{/auth}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Email:</label><br>
            <input type="text" id="username" name="email" class="form-control" placeholder="login@login.com"><br>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label><br>
            <input type="password" id="password" name="password" class="form-control" placeholder="*******"><br><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>