<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content">
    <div class="rows1">
        <div class="coll">
            <p class="red">About Porsche</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Porsche_headquarters_Stuttgart_entrance_2013_March.jpg" th:align="right" th:width="360" th:height="256" alt="porsche-factory">
            <p> Dr. Ing. h.c. F. Porsche AG, usually shortened to Porsche (German pronunciation: [ˈpɔʁʃə] ;
                see below), is a German automobile manufacturer specializing in high-performance sports cars,
                SUVs and sedans, headquartered in Stuttgart, Baden-Württemberg, Germany. The company is owned
                by Volkswagen AG, a controlling stake of which is owned by Porsche Automobil Holding SE.

                Porsche's current lineup includes the 718, 911, Panamera, Macan, Cayenne and Taycan.123

                Ferdinand Porsche (1875–1951) founded the company called "Dr. Ing. h. c. F. Porsche GmbH"
                with Adolf Rosenberger and Anton Piëch in 1931. The main offices was at Kronenstraße 24 in
                the centre of Stuttgart. Initially, the company offered motor vehicle development work and
                consulting, but did not build any cars under its own name. One of the first assignments the
                new company received was from the German government to design a car for the people; that is,
                a Volkswagen. This resulted in the Volkswagen Beetle, one of the most successful car designs of
                all time. The Porsche 64 was developed in 1939 using many components from the Beetle.

                Porsche's tank prototype, the "Porsche Tiger", that lost to Henschel & Son's Tiger I

                Panzerjäger Elefant – after the loss of the contract to the Tiger I, Porsche recycled his design
                into a tank destroyer. During World War II, Volkswagen production turned to the military version
                of the Volkswagen Beetle, the Kübelwagen, 52,000 produced, and Schwimmwagen, 15,584 produced.
                Porsche produced several designs for heavy tanks during the war, losing out to Henschel & Son in
                both contracts that ultimately led to the Tiger I and the Tiger II. However, not all this work
                was wasted, as the chassis Porsche designed for the Tiger I was used as the base for the
                Elefant tank destroyer. Porsche also developed the Maus super-heavy tank in the closing stages of
                the war, producing two prototypes. Ferdinand Porsche's biographer, Fabian Müller, wrote that
                Porsche had thousands of people forcibly brought to work at their factories during the war.
                The workers wore the letter "P" on their clothing at all times. It stood not for "Porsche",
                but for "Poland".
            <p class="red">Company logo</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/DEU_Stuttgart_COA.svg/800px-DEU_Stuttgart_COA.svg.png" th:align="right" th:width="128" th:height="128">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Wappen_Volksstaat_W%C3%BCrttemberg_%28Farbe%29.svg/800px-Wappen_Volksstaat_W%C3%BCrttemberg_%28Farbe%29.svg.png" th:align="right" th:width="128" th:height="128">
            <p>
                Porsche's company logo stems from the coat of arms of the Free People's State of Württemberg
                of Weimar Germany of 1918–1933, which had Stuttgart as its capital. (The Bundesland of
                Württemberg-Hohenzollern used the same arms from 1945 to 1952, while Stuttgart during these
                years operated as the capital of adjacent Württemberg-Baden.) The arms of Stuttgart appear in
                the middle of the logo as an inescutcheon, for the company had its headquarters in Stuttgart.
                The heraldic symbols, combined with the texts "Porsche" and "Stuttgart", do not form a
                conventional coat of arms, since heraldic achievements never spell out the name of the
                armiger nor the armiger's home town in the shield.

                Württemberg-Baden and Württemberg-Hohenzollern both in 1952 became part of the present
                Bundesland of Baden-Württemberg after the political consolidation of West Germany in 1949,
                but the old design of the arms of Württemberg lives on in the Porsche logo. On 30 January 1951,
                not long before the formation of Baden-Württemberg, Ferdinand Porsche died from complications
                following a stroke.
            </p>
            <br>
            <div class="button-pos">
                <a href="" class="sliding-button" th:href="@{'/'}">Back to main page</a>
                <a href="" class="sliding-button" th:href="@{'/audi-information'}">Previous car</a>
                <a href="" class="sliding-button" th:href="@{'/update/4'}">Update cars</a>
            </div>
            <br><br>
        </div>
    </div>
</div>
</html>