<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/registration-css.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
</head>
<body>
<section>
    <div class="form-box1">
    <form th:action="@{'/user/add-user'}" method="post">
        <h3>Registration</h3>
        <div class="inputbox1"><label>First name: <input type="text" name="firstname" autocomplete="off" required></label></div>
        <div class="inputbox1"><label>Last name: <input type="text" name="lastname" autocomplete="off" required></label></div>
        <div class="inputbox1"><label>Age: <input type="number" name="age" min="1" max="150" autocomplete="off" required></label></div>
        <div class="inputbox1"><label>Balance: <input type="number" name="balance" min="0" autocomplete="off" required></label></div>
        <div class="inputbox1"><label>Email: <input type="email" name="email" autocomplete="off" required></label></div>
        <div class="inputbox1"><label>Password: <input type="password" name="password" autocomplete="off" required></label></div>
        <div class="inputbox1"><label>Re-password: <input type="password" name="rePassword" autocomplete="off" required></label></div>
        <br><br>
        <div class="button-log1-pos">
        <button class="button-log1" type="submit" value="Sign in">Register</button>
        <button class="button-log1"><a href="/authorize/login">Back</a></button>
        </div>
<!--<div class="button-log1"><input type="submit" value="Sign in"></div>-->
    </form>
    </div>
</section>
</body>
</html>